In [1]:
import pandas as pd
log = pd.read_csv("log.csv",header=None) 
log.columns = ['user_id','time','bet','win']

In [33]:
log1 = log
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [34]:
log1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
user_id    1000 non-null object
time       985 non-null object
bet        485 non-null float64
win        138 non-null float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [35]:
log.time.isna().sum()

15

In [36]:
len (log[log.time.isna() == True])

15

In [37]:
log = log1

In [38]:
log.dropna(subset=['user_id','time'], axis=0).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 0 to 995
Data columns (total 4 columns):
user_id    985 non-null object
time       985 non-null object
bet        472 non-null float64
win        133 non-null float64
dtypes: float64(2), object(2)
memory usage: 38.5+ KB

In [39]:
col_lst=['user_id','time']
for item in col_lst:
    miss_val=int(log[item].isna().to_frame(name='n').query('n==True').count())
    if miss_val > 0:
        log.drop(item, axis=1, inplace=True)
len(log.columns)

3

In [40]:
log1 = pd.read_csv('log.csv', header = None)
log1.columns = ['user_id','time','bet','win']

# log1.dropna(subset = ['user_id', 'time']) чистит (удаляет) строки с пустотой в указ. колонках

# log1.dropna(axis = ['user_id', 'time']) не работает с версии панды 0.23

for column in ['user_id', 'time']:

    if not log1[log1[column].isna()][column].empty:

        #print(column)

        log1.drop(column, axis = 1, inplace = True)

display(log1.tail())

                              user_id      bet      win
995  Запись пользователя № - user_984   9754.0      NaN
996                            #error  10054.0  29265.0
997                            #error  10454.0      NaN
998                            #error   1000.0      NaN
999                            #error  10754.0      NaN

In [1]:
import pandas as pd
import datetime as dt

log = pd.read_csv("log.csv",header=None) 
log.columns = ['user_id','time','bet','win']
log1 = log

In [2]:
log.drop_duplicates(subset=['user_id','time']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 995
Data columns (total 4 columns):
user_id    986 non-null object
time       985 non-null object
bet        472 non-null float64
win        133 non-null float64
dtypes: float64(2), object(2)
memory usage: 38.5+ KB

In [3]:
from datetime import datetime, timedelta

log = pd.read_csv("log.csv", header=None) 
log.columns = ['user_id','time','bet','win']

def timer(tm):
    
    if str(tm) == 'nan':
        
        return tm
    else:
        return str(tm).strip('[')

log['time'] = log.time.apply(timer)

In [4]:
log['time'] = pd.to_datetime(log['time'])

In [5]:
log['time'].max()

Timestamp('2019-04-20 18:10:07')

In [6]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка log.time = log.time.apply(lambda x: x.minute) или log.time = log.time.apply(lambda x: x.minute)    
log['time'].head()

13    2019-01-02 08:57:36
28    2019-01-04 13:59:42
150   2019-01-16 21:54:22
188   2019-01-21 18:34:44
204   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]

In [7]:
year_column = log['time'].apply(lambda x: x.year)

In [8]:
#log['time'].dt.minute.value_counts()

In [9]:
log['time'].dt.month.value_counts()

3    57
4    51
2    16
1     9
Name: time, dtype: int64

In [10]:
log['time'].dt.weekday.value_counts()

1    27
6    21
4    21
2    19
3    17
5    16
0    12
Name: time, dtype: int64

In [93]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log1.dropna(subset = ['time'])
def timer(tm):
    
    if str(tm) == 'nan':
        return tm
    else:
        return str(tm).strip('[')

def period(time):
    if time.hour >= 0 and time.hour <= 5:
        return "ночь"
    if time.hour >= 6 and time.hour <= 11:
        return "утро"
    if time.hour >= 12 and time.hour <= 17:
        return "день"
    if time.hour >= 18 and time.hour <= 23:
        return "вечер"


log['time'] = log['time'].apply(timer)  
log['time'] = pd.to_datetime(log['time'])  

log.time = log.time.apply(period)    
log['time'].value_counts()

ночь     265
утро     253
день     239
вечер    227
Name: time, dtype: int64

In [ ]:
 Загрузите датасет log.csv в переменную log, дальше работать будем с ней;

2. Установите имена столбцов: ['user_id', 'time', 'bet', 'win'];

3. Избавьтесь от пропусков в log;

4. Приведите переменную time к подходящую для извлечения признаков виду;

5. Получите значение часа для каждой строки в переменной time и запишите в столбец hour в log;

6. Результататом будет таблица log со столбцом hour внутри.

In [119]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']

def timer(tm):
    
    if str(tm) == 'nan':
        return tm
    else:
        return str(tm).strip('[')

log['time'] = log['time'].apply(timer)
log.dropna(subset = ['time'], axis = 0, inplace = True)
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log['time'].dt.hour

In [136]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']

def timer(tm):
    
    if str(tm) == 'nan':
        return tm
    else:
        return str(tm).strip('[')

log['time'] = log['time'].apply(timer)
log.dropna(subset = ['time'], axis = 0, inplace = True)
log['time'] = pd.to_datetime(log['time'])
time = log['time'].dt.hour
log['hour'] = time
log

,user_id,time,bet,win,hour
0,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,14
1,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,16
2,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,17
3,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,21
4,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN,23
5,Запись пользователя № - user_900,2019-01-01 04:37:25,NaN,NaN,4
6,Запись пользователя № - user_980,2019-01-01 06:31:23,NaN,NaN,6
7,Запись пользователя № - user_906,2019-01-02 10:57:08,NaN,NaN,10
8,Запись пользователя № - user_952,2019-01-02 16:55:06,NaN,NaN,16
9,Запись пользователя № - user_972,2019-01-02 20:47:54,NaN,NaN,20
10,Запись пользователя № - user_966,2019-01-02 21:32:20,NaN,NaN,21
11,Запись пользователя № - user_964,2019-01-02 21:32:35,NaN,NaN,21
12,Запись пользователя № - user_978,2019-01-02 05:25:40,NaN,NaN,5
13,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
14,Запись пользователя № - user_968,2019-01-02 09:32:24,NaN,NaN,9
15,Запись пользователя № - user_974,2019-01-03 10:43:41,NaN,NaN,10
16,Запись пользователя № - user_998,2019-01-03 11:29:08,NaN,NaN,11
17,Запись пользователя № - user_990,2019-01-03 13:12:46,NaN,NaN,13
18,Запись пользователя № - user_942,2019-01-03 14:03:21,98753.0,NaN,14
19,Запись пользователя № - user_929,2019-01-03 17:20:23,NaN,NaN,17
20,Запись пользователя № - user_976,2019-01-03 18:24:25,NaN,NaN,18
21,Запись пользователя № - user_927,2019-01-03 18:45:54,NaN,NaN,18
22,Запись пользователя № - user_998,2019-01-03 02:48:25,NaN,NaN,2
23,Запись пользователя № - user_951,2019-01-03 05:30:43,NaN,NaN,5
24,Запись пользователя № - user_949,2019-01-03 05:49:42,NaN,NaN,5
25,Запись пользователя № - user_976,2019-01-04 01:59:34,NaN,NaN,1
26,Запись пользователя № - user_987,2019-01-04 11:50:21,NaN,NaN,11
27,Запись пользователя № - user_976,2019-01-04 12:49:31,NaN,NaN,12
28,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
29,Запись пользователя № - user_985,2019-01-04 15:07:26,NaN,NaN,15
...,...,...,...,...,...
954,Запись пользователя № - user_967,2019-04-18 19:43:51,200.0,5213.0,19
955,Запись пользователя № - user_910,2019-04-18 02:34:52,104540.0,NaN,2
956,Запись пользователя № - user_981,2019-04-18 22:41:27,1000.0,NaN,22
957,Запись пользователя № - user_995,2019-04-18 04:33:31,9954.0,NaN,4
958,Запись пользователя № - user_929,2019-04-18 07:35:02,1000.0,NaN,7
959,Запись пользователя № - user_938,2019-04-18 08:06:43,9954.0,NaN,8
960,Запись пользователя № - user_950,2019-04-18 08:14:24,1000.0,6072.0,8
961,Запись пользователя № - user_976,2019-04-19 14:18:45,400.0,5997.0,14
962,Запись пользователя № - user_983,2019-04-19 16:03:17,400.0,NaN,16
963,Запись пользователя № - user_926,2019-04-19 17:29:36,600.0,NaN,17
964,Запись пользователя № - user_900,2019-04-19 19:31:48,900.0,6767.0,19
965,Запись пользователя № - user_940,2019-04-19 20:34:13,10754.0,32279.0,20
966,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
967,Запись пользователя № - user_912,2019-04-19 05:29:34,700.0,NaN,5
968,Запись пользователя № - user_963,2019-04-19 08:58:07,800.0,NaN,8
969,Запись пользователя № - user_991,2019-04-20 01:18:20,700.0,NaN,1
970,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
971,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
972,Запись пользователя № - user_904,2019-04-20 10:35:51,600.0,NaN,10
973,Запись пользователя № - user_987,2019-04-20 10:35:52,9754.0,NaN,10
974,Запись пользователя № - user_913,2019-04-20 10:35:53,10754.0,NaN,10
975,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
983,Запись пользователя № - user_925,2019-04-20 12:55:00,1000.0,NaN,12
988,Запись пользователя № - user_953,2019-04-20 12:55:39,9954.0,NaN,12
989,Запись пользователя № - user_954,2019-04-20 12:55:40,9854.0,NaN,12
990,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12
991,Запись пользователя № - user_967,2019-04-20 14:59:36,10154.0,NaN,14
992,Запись пользователя № - user_973,2019-04-20 17:09:56,10254.0,NaN,17
993,Запись пользователя № - user_977,2019-04-20 18:10:07,10354.0,NaN,18
994,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,NaN,9

In [3]:
import pandas as pd
log = pd.read_csv("log.csv", header=None)  
log.columns = ['user_id', 'time', 'bet', 'win']
log=log.dropna()
log.dropna(subset = ['time'])
def timer(tm):
    
    if str(tm) == 'nan':
        return tm
    else:
        return str(tm).strip('[')

log['time'] = log['time'].apply(timer)
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log['time'].dt.hour

In [12]:
import pandas as pd
log=pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.dropna(subset = ['time'])
def timer(tm):
    
    if str(tm) == 'nan':
        return tm
    else:
        return str(tm).strip('[')

log['time'] = log['time'].apply(timer)
log['time'] = pd.to_datetime(log['time'])
log['bet'] = log['bet'].fillna(0)

In [13]:
log

,user_id,time,bet,win
0,Запись пользователя № - user_919,2019-01-01 14:06:51,0.0,NaN
1,Запись пользователя № - user_973,2019-01-01 14:51:16,0.0,NaN
2,Запись пользователя № - user_903,2019-01-01 16:31:16,0.0,NaN
3,Запись пользователя № - user_954,2019-01-01 17:17:51,0.0,NaN
4,Запись пользователя № - user_954,2019-01-01 21:31:18,0.0,NaN
5,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN
6,Запись пользователя № - user_900,2019-01-01 04:37:25,0.0,NaN
7,Запись пользователя № - user_980,2019-01-01 06:31:23,0.0,NaN
8,Запись пользователя № - user_906,2019-01-02 10:57:08,0.0,NaN
9,Запись пользователя № - user_952,2019-01-02 16:55:06,0.0,NaN
10,Запись пользователя № - user_972,2019-01-02 20:47:54,0.0,NaN
11,Запись пользователя № - user_966,2019-01-02 21:32:20,0.0,NaN
12,Запись пользователя № - user_964,2019-01-02 21:32:35,0.0,NaN
13,Запись пользователя № - user_978,2019-01-02 05:25:40,0.0,NaN
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0
15,Запись пользователя № - user_968,2019-01-02 09:32:24,0.0,NaN
16,Запись пользователя № - user_974,2019-01-03 10:43:41,0.0,NaN
17,Запись пользователя № - user_998,2019-01-03 11:29:08,0.0,NaN
18,Запись пользователя № - user_990,2019-01-03 13:12:46,0.0,NaN
19,Запись пользователя № - user_942,2019-01-03 14:03:21,98753.0,NaN
20,Запись пользователя № - user_929,2019-01-03 17:20:23,0.0,NaN
21,Запись пользователя № - user_976,2019-01-03 18:24:25,0.0,NaN
22,Запись пользователя № - user_927,2019-01-03 18:45:54,0.0,NaN
23,Запись пользователя № - user_998,2019-01-03 02:48:25,0.0,NaN
24,Запись пользователя № - user_951,2019-01-03 05:30:43,0.0,NaN
25,Запись пользователя № - user_949,2019-01-03 05:49:42,0.0,NaN
26,Запись пользователя № - user_976,2019-01-04 01:59:34,0.0,NaN
27,Запись пользователя № - user_987,2019-01-04 11:50:21,0.0,NaN
28,Запись пользователя № - user_976,2019-01-04 12:49:31,0.0,NaN
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0
...,...,...,...,...
970,Запись пользователя № - user_991,2019-04-20 01:18:20,700.0,NaN
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0
973,Запись пользователя № - user_904,2019-04-20 10:35:51,600.0,NaN
974,Запись пользователя № - user_987,2019-04-20 10:35:52,9754.0,NaN
975,Запись пользователя № - user_913,2019-04-20 10:35:53,10754.0,NaN
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0
977,#error,NaT,0.0,NaN
978,#error,NaT,10554.0,NaN
979,#error,NaT,0.0,NaN
980,#error,NaT,10454.0,30117.0
981,#error,NaT,800.0,7035.0
982,#error,NaT,900.0,NaN
983,#error,NaT,500.0,NaN
984,Запись пользователя № - user_925,2019-04-20 12:55:00,1000.0,NaN
985,#error,NaT,900.0,NaN
986,#error,NaT,10454.0,29972.0
987,#error,NaT,10554.0,31634.0
988,#error,NaT,1000.0,NaN
989,Запись пользователя № - user_953,2019-04-20 12:55:39,9954.0,NaN
990,Запись пользователя № - user_954,2019-04-20 12:55:40,9854.0,NaN
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0
992,Запись пользователя № - user_967,2019-04-20 14:59:36,10154.0,NaN
993,Запись пользователя № - user_973,2019-04-20 17:09:56,10254.0,NaN
994,Запись пользователя № - user_977,2019-04-20 18:10:07,10354.0,NaN
995,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,NaN
996,#error,NaT,10054.0,29265.0
997,#error,NaT,10454.0,NaN
998,#error,NaT,1000.0,NaN
999,#error,NaT,10754.0,NaN

In [29]:
def fillna_win(row):
    
    if str(row) != 'nan':
        return row
    elif str(row) == 'nan':
        if log['bet'] == 0:
            return 0
        else:
            return log['bet']
    
# Применяем функцию
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
      
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win

In [21]:
import pandas as pd
log=pd.read_csv('log.csv',header=None)
log.columns=['user_id', 'time', 'bet', 'win']
log['time']=log['time'].str.replace('[', '')
log['bet']=log['bet'].fillna(0)
log['win']=log['win'].fillna(0)
def fillna_win(row):
    if pd.isnull(row.win):
        if row.bet == 0:
            row.win = 0
        else:
            row.win = -row.bet
    return row.win
new_win=log.apply(lambda row: fillna_win(row), axis=1)

log['win'] = new_win

In [42]:
import pandas as pd
log=pd.read_csv('log.csv',header=None)
log.columns=['user_id', 'time', 'bet', 'win']
log['time']=log['time'].str.replace('[', '')
log['bet']=log['bet'].fillna(0)
log['win']=log['win'].fillna(0)

def fillna_win(row):
    if row.win <= 0:
        if row.bet == 0:
            row.win = 0
        else:
            row.win = -row.bet
    return row.win

new_win=log.apply(lambda row: fillna_win(row), axis=1)

log['win'] = new_win

(log.win<0).sum()

347

In [43]:
log['net'] = log['win'] - log['bet']

In [44]:
(log.net > 0).sum()

138

In [60]:
round(log[log['net'] > 0]['net'].mean())

80253

In [61]:
round(log[log['net'] > 0]['net'].median())

5347

In [62]:
log.bet.mean()

3291.083

In [63]:
log.bet.mean(skipna=False)

3291.083

In [64]:
pd.mean(log['bet'])

AttributeError: module 'pandas' has no attribute 'mean'

In [65]:
log.bet.sum() / log.bet.dropna().shape[0]

3291.083

In [66]:
np.mean(log.bet)

NameError: name 'np' is not defined

In [67]:
log['bet'].dropna().mean()

3291.083

In [87]:
log[log.bet > 0]['bet'].count()/ log.bet.count() * 100

48.5

In [73]:
log[(log.bet > 0)]['bet'].count()

485

In [78]:
round(log[(log.bet > 0)]['bet'].mean())

6786

In [92]:
log[log.bet > 0].net.mean()

18008.81649484536

In [93]:
import pandas as pd
log=pd.read_csv('log.csv',header=None)
log.columns=['user_id', 'time', 'bet', 'win']
log['time']=log['time'].str.replace('[', '')
log['bet']=log['bet'].fillna(0)
log['win']=log['win'].fillna(0)

log['net'] = log.win-log.bet
log[log.bet > 0].net.mean()

20421.892783505155

In [94]:
log[log.net < 0].net.mean()

-3372.743515850144

In [95]:
log[log.net < 0].net.count() / log.bet.count() * 100

34.699999999999996

In [96]:
log[log.net > 0].net.count() / log.bet.count() * 100

13.8

In [102]:
import pandas as pd
log=pd.read_csv('log.csv',header=None)
log.columns=['user_id', 'time', 'bet', 'win']
log['time']=log['time'].str.replace('[', '')
log['bet']=log['bet'].fillna(0)
log['win']=log['win'].fillna(0)

log['net'] = log.win-log.bet
min_bet = log[log.bet > 0]['bet'].min()
min_bet_amount = log[log.bet == min_bet]['bet'].count()

100.0

In [142]:
min_bet = log[log.bet > 0]['bet'].min()
min_bet_amount = log[log.bet == min_bet]['bet'].count()

48

In [143]:
min_bet = log[log.bet > 0]['bet'].min()
log[(log.bet == log[log.bet > 0]['bet'].min())]['bet'].count()

48

In [ ]:
import pandas as pd
# Приведем признак user_id к одному формату в обоих датасетах
us = pd.read_csv('users.csv', encoding='koi8_r', skip_blank_lines=True, sep='\t')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('log.csv', header=None)
log.columns= ['user_id', 'time', 'bet','win']
# Избавимся от ошибок в user_id
log = log[log.user_id != '#error']
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
joined = pd.merge(log, us, on='user_id')
joined.info() (edited)

In [144]:
import pandas as pd
# Приведем признак user_id к одному формату в обоих датасетах  
us = pd.read_csv('users.csv', encoding='koi8_r', skip_blank_lines=True, sep='\t')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('log.csv', header=None)
log.columns= ['user_id', 'time', 'bet','win']

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
joined = pd.merge(log, us, on='user_id')
joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 975 entries, 0 to 974
Data columns (total 6 columns):
user_id    975 non-null object
time       975 non-null object
bet        470 non-null float64
win        132 non-null float64
email      967 non-null object
geo        950 non-null object
dtypes: float64(2), object(4)
memory usage: 53.3+ KB

In [146]:
joined.groupby('user_id').win.median().median()

5951.75

In [318]:
import pandas as pd
# Приведем признак user_id к одному формату в обоих датасетах  
us = pd.read_csv('users.csv', encoding='koi8_r', skip_blank_lines=True, sep='\t')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('log.csv', header=None)
log.columns= ['user_id', 'time', 'bet','win']

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
joined = pd.merge(us, log, on='user_id')

# Почистим данне и введем новый признак
joined['time']=joined['time'].str.replace('[', '')
joined['bet']=joined['bet'].fillna(0)
joined['win']=joined['win'].fillna(0)

In [319]:
joined.head()

    user_id                email     geo                 time    bet     win
0  user_943  Accumanst@gmail.com  Ижевск  2019-01-06 21:06:57    0.0     0.0
1  user_943  Accumanst@gmail.com  Ижевск  2019-01-10 12:16:22  100.0     0.0
2  user_943  Accumanst@gmail.com  Ижевск   2019-01-27 1:18:47  100.0     0.0
3  user_943  Accumanst@gmail.com  Ижевск  2019-02-10 11:09:24  100.0  5456.0
4  user_943  Accumanst@gmail.com  Ижевск  2019-02-12 15:09:38  300.0  5245.0

In [161]:
joined.groupby('user_id').net.sum().median()

1986.0

In [215]:
ls = joined.groupby(['user_id', 'bet']).bet.count()
ls1 = ls.reset_index(level = 'user_id')
ls1.columns = ['user_id', 'col_bet']
ls2 = ls1.reset_index()
ls2.head()

     bet    user_id  col_bet
0    0.0  user_1000        8
1  100.0  user_1000        1
2  300.0  user_1000        1
3  400.0  user_1000        1
4  800.0  user_1000        1

In [217]:
ls2[ls2.bet == 0].col_bet.mean()

5.05

In [2]:
import pandas as pd
# Приведем признак user_id к одному формату в обоих датасетах  
us = pd.read_csv('users.csv', encoding='koi8_r', skip_blank_lines=True, sep='\t')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('log.csv', header=None)
log.columns= ['user_id', 'time', 'bet','win']

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
joined = pd.merge(us, log, on='user_id')

# Почистим данне и введем новый признак
joined['time']=joined['time'].str.replace('[', '')
joined['bet']=joined['bet'].fillna(0)
joined['win']=joined['win'].fillna(0)
joined['time'] = pd.to_datetime(joined['time'])

In [3]:
joined.head()

    user_id                email     geo                time    bet     win
0  user_943  Accumanst@gmail.com  Ижевск 2019-01-06 21:06:57    0.0     0.0
1  user_943  Accumanst@gmail.com  Ижевск 2019-01-10 12:16:22  100.0     0.0
2  user_943  Accumanst@gmail.com  Ижевск 2019-01-27 01:18:47  100.0     0.0
3  user_943  Accumanst@gmail.com  Ижевск 2019-02-10 11:09:24  100.0  5456.0
4  user_943  Accumanst@gmail.com  Ижевск 2019-02-12 15:09:38  300.0  5245.0

In [4]:
joined['tm1'] =  joined[joined['bet'] == 0].time
joined['tm2'] =  joined[joined['bet'] > 0].time

In [5]:
dtime = joined.groupby('user_id').tm2.min() - joined.groupby('user_id').tm1.min()

In [7]:
s_active_user=list(log_users.query('bet!=0').groupby(['user_id']).bet.count().index)#создаем список из пользователей, сделавших хотя бы одну ставку

Timedelta=0

for user in s_active_user:

    a=log_users.query('user_id=={}, bet==0'.format(user)).groupby('bet').time.min()

    b=log_users.query('user_id=={}, bet!=0'.format(user)).groupby('bet').time.min()

    Timedelta+=b-a

Timedelta

NameError: name 'log_users' is not defined

In [10]:
total = 0
#us=joined[joined.bet>0].user_id #создаем список из пользователей, сделавших хотя бы одну ставкуtotal=0 #создаем переменную счетчик
us=joined.query('bet!=0').groupby(['user_id']).bet.count().index
for j in us:
    a=joined[joined['user_id']==j].query('bet==0').time.min() #определяем дату первого посещение пользователем в цикле(с нулевой ставкой).
    b=joined[joined['user_id']==j].query('bet>0').time.min() #определяем дату первого посещение пользователем в цикле с НЕнулевой ставкой.
    c=(b-a).days #находим интервал в днях между двумя датами
    total+=c #увеличиваем счётчик на размер расчётного интервала
round(total/len(us),0)

46.0

In [ ]:
Для того, чтобы узнать это, напишите метод, 
считающий минимальное время среди ставок, равных 0 и минимальное время среди ставок больше 0. 
После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам в цикле. 
Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу 
во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, 
которые вы не пропустили.

In [385]:
joined[joined['bet'] > 0].groupby('user_id').time.min() -

user_id
user_1000   2019-01-28 20:57:37
user_900    2019-02-08 10:36:47
user_901    2019-03-14 13:51:20
user_902    2019-03-09 16:52:11
user_903    2019-02-08 11:06:00
user_904    2019-04-20 10:35:51
user_905    2019-01-23 03:40:49
user_906    2019-03-03 01:09:37
user_907    2019-01-25 02:42:00
user_908    2019-01-19 07:21:13
user_909    2019-02-28 23:16:35
user_910    2019-01-08 21:14:57
user_911    2019-03-15 21:48:20
user_912    2019-03-05 01:50:21
user_913    2019-01-24 09:48:17
user_914    2019-03-21 01:24:09
user_915    2019-03-29 04:05:01
user_916    2019-04-08 18:37:09
user_917    2019-01-01 23:34:55
user_918    2019-02-13 10:04:39
user_919    2019-03-02 04:23:36
user_920    2019-04-08 13:41:49
user_921    2019-02-09 23:20:21
user_922    2019-01-15 16:40:58
user_923    2019-03-03 11:59:27
user_924    2019-02-13 06:50:18
user_925    2019-03-17 08:46:12
user_926    2019-03-24 00:57:08
user_927    2019-01-31 02:25:43
user_928    2019-03-02 17:20:45
                    ...
user_970    2019-02-22 08:22:38
user_971    2019-02-07 20:53:58
user_972    2019-01-20 20:12:03
user_973    2019-02-15 20:10:37
user_974    2019-02-25 03:04:34
user_975    2019-03-03 01:24:56
user_976    2019-03-08 01:37:54
user_977    2019-03-31 06:36:50
user_978    2019-03-28 18:27:32
user_979    2019-02-20 15:03:15
user_980    2019-03-16 13:23:16
user_981    2019-03-16 22:43:57
user_982    2019-01-16 21:54:22
user_983    2019-03-31 20:15:02
user_984    2019-04-05 02:36:59
user_985    2019-02-17 10:30:34
user_986    2019-03-01 12:09:15
user_987    2019-01-07 21:46:13
user_988    2019-03-26 21:08:06
user_989    2019-04-10 14:41:47
user_990    2019-03-22 17:37:24
user_991    2019-04-09 05:36:02
user_992    2019-03-06 16:04:28
user_993    2019-03-17 14:00:23
user_994    2019-03-07 01:47:34
user_995    2019-02-26 15:29:25
user_996    2019-01-10 07:32:17
user_997    2019-03-05 11:05:39
user_998    2019-01-25 08:57:20
user_999    2019-03-15 22:50:47
Name: time, Length: 100, dtype: datetime64[ns]

In [378]:
if joined[joined.bet == 0]:
    joined['tm1'] =  joined.time
elif joined[joined.bet > 0]:
    joined['tm2'] =  joined.time

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [366]:
tabl2 = joined[joined.bet == 0].head()

In [369]:
tabl1['tm1'] = tabl1.time.min()
tabl2['tm2'] = tabl2.time.min()

In [335]:
joined['time2']  = joined[joined.bet == 0].time.min()

In [339]:
joined['dtime']  = joined['time1'] - joined['time2']

In [346]:
joined.head()

,user_id,email,geo,time,bet,win,time1,time2,dtime
0,user_943,Accumanst@gmail.com,Ижевск,2019-01-06 21:06:57,0.0,0.0,2019-01-01 23:34:55,2019-01-01 04:37:25,18:57:30
1,user_943,Accumanst@gmail.com,Ижевск,2019-01-10 12:16:22,100.0,0.0,2019-01-01 23:34:55,2019-01-01 04:37:25,18:57:30
2,user_943,Accumanst@gmail.com,Ижевск,2019-01-27 01:18:47,100.0,0.0,2019-01-01 23:34:55,2019-01-01 04:37:25,18:57:30
3,user_943,Accumanst@gmail.com,Ижевск,2019-02-10 11:09:24,100.0,5456.0,2019-01-01 23:34:55,2019-01-01 04:37:25,18:57:30
4,user_943,Accumanst@gmail.com,Ижевск,2019-02-12 15:09:38,300.0,5245.0,2019-01-01 23:34:55,2019-01-01 04:37:25,18:57:30

In [329]:
tm2 = joined[joined.bet > 0].time.min()

In [330]:
dtm = tm2.hour - tm1.hour
dtm

19

In [308]:
tm = joined[joined['bet'] == 0].time.min()
joined['time1'] = tm.hour

In [310]:
tm2 = joined[joined['bet'] > 0].time.min()
joined['time2'] = tm2.hour

In [324]:
joined.groupby([joined['bet'] > 0]).time

In [312]:
joined.head()

,user_id,email,geo,time,bet,win,time1,time2
0,user_943,Accumanst@gmail.com,Ижевск,2019-01-06 21:06:57,0.0,0.0,4,23
1,user_943,Accumanst@gmail.com,Ижевск,2019-01-10 12:16:22,100.0,0.0,4,23
2,user_943,Accumanst@gmail.com,Ижевск,2019-01-27 01:18:47,100.0,0.0,4,23
3,user_943,Accumanst@gmail.com,Ижевск,2019-02-10 11:09:24,100.0,5456.0,4,23
4,user_943,Accumanst@gmail.com,Ижевск,2019-02-12 15:09:38,300.0,5245.0,4,23

19

In [ ]:
Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? 
Считать нужно только тех, кто делал ставку.

Для того, чтобы узнать это, напишите метод, 
считающий минимальное время среди ставок, равных 0 и минимальное время среди ставок больше 0. 
После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам в цикле. 
Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу 
во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, 
которые вы не пропустили.

In [271]:
import pandas as pd
# Приведем признак user_id к одному формату в обоих датасетах  
us = pd.read_csv('users.csv', encoding='koi8_r', skip_blank_lines=True, sep='\t')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('log.csv', header=None)
log.columns= ['user_id', 'time', 'bet','win']

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
joined = pd.merge(us, log, on='user_id')

# Почистим данне и введем новый признак
joined['time']=joined['time'].str.replace('[', '')
joined['bet']=joined['bet'].fillna(0)
joined['win']=joined['win'].fillna(0)
joined['net'] = joined.win-joined.bet

In [280]:
joined.groupby('geo').win.sum().sort_values(ascending=False)

geo
Москва             11959741.0
Воронеж              184338.0
Санкт-Петербург      151007.0
Казань                97806.0
Ярославль             97441.0
Ижевск                84895.0
Красноярск            84767.0
Арзангелтск           74375.0
Пермь                 67734.0
Хабаровск             65459.0
Краснодар             62718.0
Ставрополь            46003.0
Екатеринбург          36682.0
Тюмень                 4701.0
Name: win, dtype: float64

In [283]:
joined.groupby('geo').bet.mean().max() / joined.groupby('geo').bet.mean().min()

227.3904449648712

In [284]:
import pandas as pd
# Приведем признак user_id к одному формату в обоих датасетах  
us = pd.read_csv('users.csv', encoding='koi8_r', skip_blank_lines=True, sep='\t')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('log.csv', header=None)
log.columns= ['user_id', 'time', 'bet','win']

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
joined = pd.merge(us, log, on='user_id')

# Почистим данне и введем новый признак
joined['time']=joined['time'].str.replace('[', '')
joined['bet']=joined['bet'].fillna(0)
joined['win']=joined['win'].fillna(0)

In [291]:
joined.groupby('geo').user_id.count()

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: user_id, dtype: int64

In [ ]:
 1. Загрузите датасеты log.csv и users.csv;

2. Удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;

3. Слейте два датасета в один по признаку user_id;

4. Сгруппируйте данные по правильному признаку (это вам нужно понять самим), затем выберите user_id и 
    воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;

5. Результат (таблицу) запишите в sample2.